<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/Highcharts-2.2.1/js/highcharts.src.js")" type="text/javascript"></script>
   
   
</head>
<body>
    <header>
     <li>@Html.ActionLink("stock", "Index", "stock")</li>
    </header>
    <section>
        @RenderBody()
    </section>
</body>
</html>
